@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(30, 30, 30);
  overflow-x: hidden;
}

.menu {
  animation: slideDown 0.5s ease-in-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.wavesTop{
  position: absolute;
  border-radius: 100% 50%;
  width: 150%;
  height: 25%;
}

.wavesBottom{
  position: absolute;
  border-radius: 100% 50%;
  width: 150%;
  height: 25%;
}